body {
  background-color:rgb(255, 247, 212) !important;
}
p {
    text-align: justify;
    font-size: 16px;
}
.masodikkep {
    width: 50%;
}
.amazonas {
    padding: 50px 0;
}
.cardkepek {
    height: 200px;
}
.card {
    height: 500px !important;
    margin: 50px 0;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
    overflow: hidden;
}
.card:hover {
  width: 150%;
  transition: ease-in-out 0.2s;
  scale: 110%;
}
.vonal {
  border: 5px solid black !important;
}
.card-body {
  background-color: rgb(252, 246, 223);

}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: darkgreen; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #49b29b;
  }
  .elsocard {
    height: 40rem;
  }
  table {
    border: 3px solid black !important;
    width: 50% !important;
  }
  table td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 2px solid black;
  }
  table th {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .carouselkepek {
    text-align: center;
  }
.navbar {
  background-color: rgb(252, 246, 223);
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
