

 .gomb {
    background-color: darkgreen;
    
    
}

.bg {
    background-color: darkgreen;
}

.nagykep {
    padding: 75px;
    
}

.nagykep1 {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nagykep2 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.zold {
    background-color:green ;
    
}


.fold {
    border: 5px solid darkblue;
}