

 .gomb {
    background-color: darkgreen;
    
    
}

.bg {
    background-color: darkgreen;
}

.nagykep {
    padding: 75px;
    
}
  
.nagykep1 {
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
}

.nagykep2 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}