/* video background */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  /* page content */
  
  body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    border-bottom: 10px double white;
   
    
  }
  

  

  
  
  
  main {
    
    font-size: 20px;
    margin-top: 600px;
    padding: 15px;
    position: relative;
    margin-bottom: 100px;
   
    border-radius: 40px;
    color: white;
    
    
  }

  .mainp  {
    border: 5px solid rgb(235, 230, 230);
   border-radius: 0.4cm;
   background-image: url(images/kekhatter.png);
   margin:10px;
   text-align: center;
   padding:20px;
   font-size: 20px;
   color: white;
   text-shadow: 2px 2px 10px black ;
  }

  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: darkgreen; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #49b29b;

  }


  .iceberg {
    padding-top: 100px;
    font-size: 100px;
    border-bottom: 5px solid white;
  }


  .pehely {
    width: 500px;
  
  }

  .penguin {
    padding-top: 20px;
    width: 500px;
    margin-right: 50px;
  }


  .neon
  {
  background-color: chartreuse;
  background-image: none;
  }

 
   h1 {
    
    text-align: center;
    font-size:40px;
    text-shadow: 3px 3px 5px #000d55; 
    margin-top: 200px;
  }


  .bottom {
    border-bottom: 10px double white
  }