/* video background */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  /* page content */
  
  body {
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
    margin-top: 30vh; 
  }
  
  h2 { font-size: 3rem; }
  
  
  
  main {
    background-color: lightblue;
    font-size: 2rem;
    margin-top: 900px;
    padding: 10px;
    position: relative;
  }


  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: darkgreen; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #49b29b;

  }


  .iceberg {
    padding-top: 100px;
    font-size: 100px;
    border-bottom: 5px solid white;
  }


  .pehely {
    width: 500px;
  
  }

  .penguin {
    padding-top: 20px;
    width: 500px;
    margin-right: 50px;
  }