
 
/* video background */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    
  }
  
  /* page content */
  
  body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
  }




body {
    background-color: ;
}



.size {
    font-size: 30px;
    color: ghostwhite;
    
}

.main {
    padding-left: 100px;
    padding-top: 200px;
    padding-right: 50px;
}

